.travel-info{
  background: url('../../../assets/img/bg/travel.jpg') no-repeat center center / cover;
  width: 100%;
  justify-content: center;
  margin: 0px;
  padding: 20px;
}
.container-content{
  padding: 0px;
  margin: 0px;
}
.pricing-heading{
  text-align: center;
  padding: 30px;
}

.pricing-heading h2{
  font-size: 32px;
}

.pricing-heading h3{
  font-size: 22px;
}

.routes-body {
  padding:1px;
}

.routes-container {
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  padding: 0 1rem;
}

.routes-container::-webkit-scrollbar {
  display: none;
}

.card {
  width: 18rem;
  min-height: 160px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px;
   color: rgb(8, 0, 65); 
  background: url('../../../assets/img/bg/travel-info.jpg') no-repeat center center / cover;
  margin: 0 0.3rem; /* Add consistent margin */
}

.card:hover {
  transform: scale(1.01);
  border: solid 1px;
  color: rgb(8, 0, 65); 
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  color: rgb(8, 0, 65);
  font-size: 100%;
  font-weight: bold;
}

.btn-outline-primary {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn {
  flex-shrink: 0;
}

















