<app-header></app-header>
<div class="container-fluid" style="margin-top: 100px;background-color: #f7f7f7;">
  <mat-stepper [linear]="isLinear" #stepper>
     <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Please Select Seat Number</ng-template>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="reserved-trip-detail">
            <mat-card style="height: 450px;">
              <div class="trip-detail-title">Trip Detail</div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  event
                </i>
                <span class="trip-detail-property">Trip Date :</span>:
                <span class="trip-detail-value">{{ routeState.tripDate|date:"MMM,dd,yyyy"}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  place
                </i><span class="trip-detail-property">Route</span>:
                <span class="trip-detail-value">{{ routeState.departureLocation}} To {{routeState.arrivalLocation}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  business
                </i><span class="trip-detail-property">Departure Station:</span>:
                <span class="trip-detail-value">{{routeState.departureStation}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  business
                </i>
                <span class="trip-detail-property">Arrival Station:</span>:
                <span class="trip-detail-value"> {{routeState.arrivalStation}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  watch_later
                </i>  <span class="trip-detail-property"> Departure Time</span>:
                <span class="trip-detail-value"> {{routeState.departureTime|date:"hh:mm"}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  call
                </i>
                <span class="trip-detail-property">Departure Support Phone</span>:
                <span class="trip-detail-value">{{routeState.departureLocationPhone}}</span>
              </div>
        
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  payments
                </i> <span class="trip-detail-property">Price:</span>:
                <span class="trip-detail-value">{{ routeState.price}} ETB</span>
              </div>
        
            </mat-card>
          </div>
        </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <mat-card style="height: 450px;">
          <div class="trip-detail-title">Select A Seat</div>
        <div *ngFor="let seatrow of seatmap" >
            <div class="col-12 pricing-label" *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
            <div class="seatrow container">
                <div *ngIf="seatChartConfig?.showRowsLabel">
                    <div class="row-label" >  {{seatrow.seatRowLabel}} </div>
                </div>
                <div *ngFor="let seatobj of seatrow.seats">
                    <div class="seat-item seat-space" style="color:white ; background-color:white" *ngIf="seatobj.seatLabel == ''">  &nbsp; </div>
                    <div tooltip="Seat : {{seatobj.seatLabel}} | Price : {{seatobj.price}}Rs" placement="top"
                    [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }" 
                     (click)="selectSeat(seatobj)" *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
                     
                    <div tooltip="Seat not available" placement="top"
                    [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }" 
                    *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
                </div>
            </div>
        </div>
        </mat-card>
      </div>
      <!-- *ngIf="cart?.selectedSeats?.length > 0" -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-card style="height: 450px;">    
        <div>
            <div class="trip-detail-title">Selected Seats</div>
            <span *ngFor="let seatLabel of cart.selectedSeats" class="badge badge-primary">{{seatLabel}}</span>          
          </div>
            <br>  
              <p>Total Selected : {{ cart?.selectedSeats?.length }}</p>
              <p>Total Amount :&nbsp;&nbsp; {{cart.totalamount}} Birr</p>
        <div class="col-lg-12" >
          <button [disabled]="cart?.selectedSeats?.length == 0" type="button" mat-button matStepperNext   mat-button color="success" >Book Now</button>
        </div>
      </mat-card>  
      </div>
    </div><!--end of page-->
    <!-- 
    <div>
        <button (click)="processBooking(this.selectedTrip)" >Next</button>
      </div>
    -->
    </mat-step>


    <mat-step [stepControl]="secondFormGroup" label="Fill out Passenger Information">
      <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
              <mat-card style="height: 370px;"> 
                <div class="trip-detail-title">Selected Seats</div>
                <span *ngFor="let seatLabel of cart.selectedSeats" class="badge badge-primary">{{seatLabel}}</span>          
              
                <br>  
                  <p>Total Selected : {{ cart?.selectedSeats?.length }}</p>
                  <p>Total Amount :&nbsp;&nbsp; {{cart.totalamount}} Birr</p>
        </mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
              
          <div class="card">
          <div class="trip-detail-title" style="text-align: center;"> Please fill Passenger Information Properly </div>
            <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
                <div class="list-group-item">
                    <h5 class="card-title">Passenger {{i + 1}}</h5>
                    <div [formGroup]="ticket" class="form-row">
                        <div class="form-group col-10">
                            <label>Full Name</label>
                            <input type="text" class="form-control" formControlName="name"/>
                            <div *ngIf="submitted && ticket.controls.name.errors" class="invalid-feedback">
                                <div *ngIf="ticket.controls.name.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-10">
                            <label>Phone Number</label>
                            <input type="text" formControlName="email" class="form-control" />
                                <div *ngIf="submitted && ticket.controls.email.errors" class="invalid-feedback">
                                <div *ngIf="ticket.controls.email.errors.required">Phone Number is required</div>
                                <div *ngIf="ticket.controls.email.errors.email">Email must be a valid email address</div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button class="btn btn-primary mr-1" mat-button matStepperNext>Payment</button>
              </div>
              </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        
        </div>

    </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Choos Payment Option and Reserve</ng-template>
      <p>Choos Payment Option and Reserve</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

  
