<app-header></app-header>
<div class="container-fluid " style="margin-top: 100px;">
  <mat-stepper #stepper>
    <mat-step label="Please Select Seat number" state="seat">
      <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="reserved-trip-detail">
            <mat-card >
              <div class="trip-detail-title"> {{routeState.operator| uppercase}} Bus Trip Detail</div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">event</i>
                <span class="trip-detail-property">Trip Date :</span>:
                <span class="trip-detail-value">{{ routeState.tripDate|date:"MMM,dd,yyyy"}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">place</i>
                <span class="trip-detail-property">Route</span>:
                <span class="trip-detail-value">{{ routeState.departureLocation}}
                  To {{routeState.arrivalLocation}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">business</i>
                <span class="trip-detail-property">Departure Station:</span>:
                <span class="trip-detail-value">{{routeState.departureStation}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">business</i>
                <span class="trip-detail-property">Arrival Station:</span>:
                <span class="trip-detail-value"> {{routeState.arrivalStation}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">
                  watch_later
                </i> <span class="trip-detail-property"> Departure Time</span>:
                <span class="trip-detail-value"> {{routeState.departureTime|date:"hh:mm"}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">call</i>
                <span class="trip-detail-property">Departure Support Phone</span>:
                <span class="trip-detail-value">{{routeState.departureLocationPhone}}</span>
              </div>
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">payments</i>
                <span class="trip-detail-property">Price:</span>:
                <span class="trip-detail-value">{{ routeState.price}} ETB</span>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <mat-card >
            <div class="trip-detail-title">Select A Seat</div>
            <div *ngFor="let seatrow of seatmap">
              <div class="col-12 pricing-label"
                   *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
              <div class="seatrow container">
                <div *ngIf="seatChartConfig?.showRowsLabel">
                  <div class="row-label">  {{seatrow.seatRowLabel}} </div>
                </div>
                <div *ngFor="let seatobj of seatrow.seats">
                  <div class="seat-item seat-space" style="color:white ; background-color:white"
                       *ngIf="seatobj.seatLabel == ''"> &nbsp;
                  </div>
                  <div tooltip="Seat : {{seatobj.seatLabel}} | Price : {{seatobj.price}}Rs" placement="top"
                       [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }"
                       (click)="selectSeat(seatobj)"
                       *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
                  <div tooltip="Seat not available" placement="top"
                       [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }"
                       *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <!-- *ngIf="cart?.selectedSeats?.length > 0" -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <mat-card >
            <div class="trip-detail-item">
              <i class="material-icons trip-result-icon">summarize</i>
              <span class="trip-detail-property">Total Selected Seat : </span>
              <span class="trip-detail-value">{{ cart?.selectedSeats?.length }}</span>
            </div>

            <div class="trip-detail-item">
              <i class="material-icons trip-result-icon">payments</i>
              <span class="trip-detail-property">Total Amount: </span>
              <span class="trip-detail-value">{{cart.totalamount}} ETB</span>
            </div>

            <div class="trip-detail-item">
              <i class="material-icons trip-result-icon">event_seat</i>
              <span class="trip-detail-property">Selected Seat: </span>
              <span class="trip-detail-value" *ngFor="let seatLabel of cart.selectedSeats" class="badge badge-primary">
              {{seatLabel}}</span>
            </div>
            <div class="col-lg-12">
              <button type="button" mat-button (click)="BackToTripList()" color="back-button-color" mat-button
                      style="margin-right: 20px;">Back
              </button>
              <button [disabled]="cart?.selectedSeats?.length == 0" type="button" mat-button matStepperNext mat-button
                      color="success">Book Now
              </button>
            </div>
          </mat-card>
        </div>
      </div><!--end of page-->
    </mat-step>
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
      <mat-step label="Fill out Passenger Information" state="info">
        <div class="row ">
          <div class="d-none d-lg-block col-md-2 col-lg-4">
            <mat-card style="height: 380px; width:80%;">
              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">summarize</i>
                <span class="trip-detail-property">Total Selected Seat : </span>
                <span class="trip-detail-value">{{ cart?.selectedSeats?.length }}</span>
              </div>

              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">payments</i>
                <span class="trip-detail-property">Total Amount: </span>
                <span class="trip-detail-value">{{cart.totalamount}} ETB</span>
              </div>

              <div class="trip-detail-item">
                <i class="material-icons trip-result-icon">event_seat</i>
                <span class="trip-detail-property">Selected Seat: </span>
                <span class="trip-detail-value" *ngFor="let seatLabel of cart.selectedSeats"
                      class="badge badge-primary">
                  {{seatLabel}}</span>
              </div>
            </mat-card>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <div *ngFor="let ticket of t.controls;let i = index" class="list-group list-group-flush">
                <div class="list-group-item">
                  <div class="trip-detail-item">
                    <i class="material-icons trip-result-icon">person</i>
                    <span class="trip-detail-property">Passenger {{i + 1}} </span>
                    <span style="float: right;">
                        <span class="material-icons trip-result-icon">event_seat</span>
                          <span class="trip-detail-property">Seat {{this.cart.selectedSeats[i]}}</span>
                        </span>
                  </div>
                  <div [formGroup]="ticket" class="form-row">
                    <div class="form-group col-10">
                      <mat-form-field class="full-width">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full Name" name="fname" formControlName="name" required>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-10">
                      <mat-form-field class="full-width">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phone" placeholder="Phone Number" name="address" maxlength="10"
                               required>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-10">
                      <mat-form-field class="full-width">
                        <mat-label>Luggage Weight</mat-label>
                        <input type="number" matInput placeholder="Luggage Weight" formControlName="laggage">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <div>
                  <button mat-button matStepperPrevious color="back-button-color">Back</button>
                  <button mat-flat-button [disabled]="this.dynamicForm.invalid" color="success" matStepperNext>Proceed
                    To Pay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Select Payment Options" state="payment">
        <div class="row">
          <div class="d-none d-lg-block col-md-2 col-lg-4">
            <div class="reserved-trip-detail">
              <mat-card >
                <div class="trip-detail-title"> {{routeState.operator| uppercase}} Bus Trip Detail</div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">event</i>
                  <span class="trip-detail-property">Trip Date :</span>:
                  <span class="trip-detail-value">{{ routeState.tripDate|date:"MMM,dd,yyyy"}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">place</i>
                  <span class="trip-detail-property">Route</span>:
                  <span class="trip-detail-value">{{ routeState.departureLocation}}
                    To {{routeState.arrivalLocation}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">business</i>
                  <span class="trip-detail-property">Departure Station:</span>:
                  <span class="trip-detail-value">{{routeState.departureStation}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">business</i>
                  <span class="trip-detail-property">Arrival Station:</span>:
                  <span class="trip-detail-value"> {{routeState.arrivalStation}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">
                    watch_later
                  </i> <span class="trip-detail-property"> Departure Time</span>:
                  <span class="trip-detail-value"> {{routeState.departureTime|date:"hh:mm"}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">call</i>
                  <span class="trip-detail-property">Departure Support Phone</span>:
                  <span class="trip-detail-value">{{routeState.departureLocationPhone}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">event_seat</i>
                  <span class="trip-detail-property">Selected Seat: </span>
                  <span class="trip-detail-value" *ngFor="let seatLabel of cart.selectedSeats"
                        class="badge badge-primary">
                  {{seatLabel}}</span>
                </div>

                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">payments</i>
                  <span class="trip-detail-property">Total Price: </span>
                  <span class="trip-detail-value">{{cart.totalamount}} ETB</span>
                </div>
              </mat-card>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <mat-card >
              <div class="trip-detail-title"> {{ routeState.operator | uppercase }} BUS &nbsp; <span
                class="trip-detail-property">    {{ routeState.departureLocation}}
                To {{routeState.arrivalLocation}}</span> &nbsp;&nbsp; <span
                class="trip-detail-property">{{ routeState.tripDate|date:"MMM,dd,yyyy"}}  </span></div>
              <div class="trip-detail-item">
              </div>
              <div class="trip-detail-item">
                <span class="trip-detail-property">Total Selected Seat : </span>
                <span class="trip-detail-value">{{ cart?.selectedSeats?.length }}</span>

                &nbsp; &nbsp; <span class="trip-detail-property">Total Amount: </span>
                <span class="trip-detail-value">{{cart.totalamount}} ETB</span>
              </div>
              <div class="trip-detail-item">

              </div>

              <div class="trip-detail-item">
                <span class="trip-detail-property">Selected Seat: </span>
                <span class="trip-detail-value" *ngFor="let seatLabel of cart.selectedSeats"
                      class="badge badge-primary">
                  {{seatLabel}}</span>
              </div>
              <p class="trip-detail-title">Choose Payment Option</p>
              <mat-radio-group formControlName="paymentMethod" aria-label="Select an option"
                               [(ngModel)]="paymentMethod">
                <mat-radio-button [checked]="true" value="TeleBirr" (change)="changeGender('TeleBirr')">
                  <img mat-card-image src="../../../assets/img/telebirr.png" id="telebirr-paymentoption-logo" style="width: 100px; margin-right: 10px">
                  Pay Using Tele Birr
                </mat-radio-button>&nbsp;

                <p class="payment-option-description">Use telebirr mobile application to complete the payment</p>
                <mat-radio-button value="AwashOtp" (change)="changeGender('AwashOtp')"> Awash Bank One Time Payment
                  Method
                </mat-radio-button>
                <p class="payment-option-description">The due amount will be deducted from your account at Awash Bank.</p>

                <mat-radio-button value="BankTransfer" (change)="changeGender('BankTransfer')"> Pay At Bank Branch
                </mat-radio-button>
                <p class="payment-option-description">You can deposit to our bank account at any branch. </p>
              </mat-radio-group>
              <mat-form-field appearance="fill" class="full-width" *ngIf="paymentMethod == 'BankTransfer'">
                <mat-label>Select Bank Account</mat-label>
                <mat-select formControlName="accountId" [(ngModel)]="accountId">
                  <mat-option *ngFor="let account of accounts"
                              [value]="account.reservationBankAccountsId">{{account.bankName}}  {{account.accountNumber}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearnace="fill" class="full-width" *ngIf="paymentMethod == 'AwashOtp'">
                <mat-label>Awash Bank Account</mat-label>
                <input matInput placeholder="Enter Your Awash Bank Account Number" formControlName="debitAccount"
                       [(ngModel)]="debitAccount">
              </mat-form-field>

              &nbsp; &nbsp;&nbsp;
              <mat-spinner *ngIf="loading" diameter="20" color="accent"></mat-spinner>
              <div class="action-buttons card-footer text-center" *ngIf="!loading">
                <button mat-button matStepperPrevious mat-flat-button color="back-button-color">Back</button>
                <button mat-button (click)="stepper.reset()" mat-flat-button color="accent" color="reset-button-color">
                  Reset
                </button>&nbsp;
                <button mat-button (click)="onSubmit()" mat-flat-button [disabled]="this.dynamicForm.invalid"
                        color="success" style="margin:2px ;" >Reserve
                </button>

              </div>


            </mat-card>

          </div>
        </div>
      </mat-step>
    </form>
      <mat-step label="Payment Instruction" state="paymentInstruction">
        <div class="row">
          <div class="d-none d-lg-block col-md-2 col-lg-4">
            <div class="reserved-trip-detail">
              <mat-card >
                <div class="trip-detail-title"> {{routeState.operator| uppercase}} Bus Trip Detail</div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">event</i>
                  <span class="trip-detail-property">Trip Date :</span>:
                  <span class="trip-detail-value">{{ routeState.tripDate|date:"MMM,dd,yyyy"}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">place</i>
                  <span class="trip-detail-property">Route</span>:
                  <span class="trip-detail-value">{{ routeState.departureLocation}}
                    To {{routeState.arrivalLocation}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">business</i>
                  <span class="trip-detail-property">Departure Station:</span>:
                  <span class="trip-detail-value">{{routeState.departureStation}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">business</i>
                  <span class="trip-detail-property">Arrival Station:</span>:
                  <span class="trip-detail-value"> {{routeState.arrivalStation}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">
                    watch_later
                  </i> <span class="trip-detail-property"> Departure Time</span>:
                  <span class="trip-detail-value"> {{routeState.departureTime|date:"hh:mm"}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">call</i>
                  <span class="trip-detail-property">Departure Support Phone</span>:
                  <span class="trip-detail-value">{{routeState.departureLocationPhone}}</span>
                </div>
                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">event_seat</i>
                  <span class="trip-detail-property">Selected Seat: </span>
                  <span class="trip-detail-value" *ngFor="let seatLabel of cart.selectedSeats"
                        class="badge badge-primary">
                  {{seatLabel}}</span>
                </div>

                <div class="trip-detail-item">
                  <i class="material-icons trip-result-icon">payments</i>
                  <span class="trip-detail-property">Total Price: </span>
                  <span class="trip-detail-value">{{cart.totalamount}} ETB</span>
                </div>
              </mat-card>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <mat-card >

              <p class="trip-detail-title">Payment Instruction</p>
              <div  *ngIf="paymentMethod == 'AwashOtp'">
                <p>Dear Customer, You will receive an One Time Payment (OTP) code from Awash Bank through SMS. To complete the reservation,
                please enter the Otp code and your phone number below. </p>

                <form [formGroup]="awashOtpForm" >


                  <mat-form-field appearnace="fill" class="full-width" >
                    <mat-label>Awash OTP</mat-label>
                    <input matInput placeholder="Enter OTP Code" formControlName="otp"
                           [(ngModel)]="awashOtp">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      ng2TelInput
                      [ng2TelInputOptions]="{initialCountry: 'et', autoHideDialCode : false, separateDialCode : true, preferredCountries : ['et']
                       , nationalMode : false, allowDropdown : false
                       }"

                      formControlName="phoneNumber"

                    />
                    <mat-error
                      *ngIf="
    !awashOtpForm.get('phoneNumber').valid &&
    awashOtpForm.get('phoneNumber').updateOn
    "
                    >This is an invalid phone number.
                    </mat-error>
                  </mat-form-field>

                </form>

                &nbsp; &nbsp;&nbsp;
                <mat-spinner *ngIf="loading" diameter="20" color="accent"></mat-spinner>
                <div class="action-buttons" *ngIf="!loading">

                  <button mat-button (click)="confirmOtp()" mat-flat-button [disabled]="this.awashOtpForm.invalid"
                          color="success" style="margin:2px ;" matStepperNext>Confirm Otp
                  </button>
                </div>

              </div>









            </mat-card>

          </div>
        </div>
      </mat-step>


    <ng-template matStepperIcon="seat">
      <mat-icon>event_seat</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="info">
      <mat-icon>description</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="payment">
      <mat-icon>payments</mat-icon>
    </ng-template>
  </mat-stepper>


