<app-header></app-header>
<div class="page-content">
    <div class="card shadow-sm rounded-lg mt-5">
        <div class="card-body text-center">
            <div class="card-body">
                <h5 class="text-danger">Reservation Failed</h5>
                <p>Unfortunately, your seat reservation was not successful.</p>
                <p>Please ensure you have completed the payment process correctly.</p>
                <p>Thank you for your patience!</p>
            </div>
             <div class="button-group text-center mt-3">
           <button mat-raised-button class="home-button" (click)="gotoHome()" aria-label="Go to Home">Home</button>
      </div>
        </div>
    </div>
</div>

