<section id="landing-page" class="top page-content">
	<div id="heading">
	  <div class="text-container">
		<!-- <h1 class="main-heading">{{'ezibus' | translate}}</h1> -->
		<!-- <p class="subheading">{{'ezibus2Title' | translate}}</p> -->
	   </div>
	  </div>
	<div class="form-section">
	<div class="search-widgetss">
		<app-search-form 
        [(departureinput)]="selectedDeparture"
        [(destinationinput)]="selectedDestination"
        [(tripDateinput)]="formattedDate"
        [(loading)]="loading"
        (searchFunction)="searchResult()">
      </app-search-form> 
	</div>  
	</div>	  
</section> 