<section id="partners" class="partner-section aos-init-animate" data-aos="fade-up">
  <div class="container">
  <h2 class="partner-heading">{{"partnersHeading" | translate}}</h2>
    <div class="row justify-content-center">
      <div class="col-lg-4 aos-init-animate" data-aos="fade-up" data-aos-delay="100">
         <div class="partner-description">
            <h5>Habesha Bus</h5>
            <p>
              Habesha Bus is committed to providing reliable and comfortable transportation solutions.
            </p>
            <h6>Services</h6>
            <ul>
              <li><i class="bi bi-wifi"></i>Wifi</li>
              <li><i class="bi bi-usb-symbol"></i> USB Charger</li>
              <li><i class="bi bi-file-break-fill"></i>
              Breakfast</li>
            </ul>
          </div>
          </div> 
          <div class="col-lg-6 aos-init-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="partner-image">
            <img src="assets/img/partners/habesha-bus.png" alt="Habesha Bus">
          </div>
        </div>
      
    </div>
  </div>
  </section> 






  


