<section id="howitwork" class="how-it-work-body" >
    <div class="container">

        <div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}" class="about-title">How It Works</h2>
            </div>
           
        </div>

    <div  flex fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="25">
        <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">search</i>
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text">Search</h2>
          <span fxFlex="10px"></span>
          <p style="text-align: center;"> Select Departure and Destination and Trip Date</p>
        </div>
    </div>

    <div fxFlex="25">
        <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text">Select</h2>
          <span fxFlex="10px"></span>
          <p style="text-align: center;">Select Available Trips and Bus Operator </p>
        </div>
    </div>

    <div fxFlex="25">
        <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">article</i>
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text">Book</h2>
          
          <span fxFlex="10px"></span>

          <p class="about-text">
            <p style="text-align: center;">Fill Your Detail and Make Payment </p>
              
        </div>
    </div>

    <div fxFlex="25">
        
        <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">directions_car</i>
          </div>
          <span fxFlex="30px"></span>
          <h2 class="about-text">Travel</h2>
          <span fxFlex="10px"></span>
          <p style="text-align: center;">
           Show hard copy or show ticket  </p>
        </div>     
    </div>
    </div>
    </div>
    
</section>