<mat-card class="how-it-work-body aos-init-animate" data-aos="zoom-in-up" data-aos-delay="100">
  <div class="about-heading" fxLayout="column" fxLayoutAlign="center center">
    <h2 style="text-align: center;">{{"how-to-book"|translate}}</h2>
  </div>
    <div class="row how-it-work-contents">
     <div class="col-lg-3 col-md-6 col-12 aos-init-animate" data-aos="zoom-in-up" data-aos-delay="100">
      <div class="card"> 
        <h1 class="content-title"> {{"search"|translate}} </h1>
        <p class="content-detail" >{{"serchTitle"|translate}}</p>
      </div>

    </div>
     <div class="col-lg-3 col-md-6 col-12 aos-init-animate" data-aos="zoom-in-up" data-aos-delay="100" > 
      <div class="card"> 
      <h1 class="content-title"> {{"select"|translate}} </h1>
      <p class="content-detail">{{"selectTitle"|translate}}</p>
     </div>
     </div>

     <div class="col-lg-3 col-md-6 col-12 aos-init-animate" data-aos="zoom-in-up" data-aos-delay="100" > 
      <div class="card">
      <h1 class="content-title"> {{"book"|translate}} </h1>
      <p class="content-detail" >{{"bookTitle"|translate}}</p>
     </div>
    </div>
     <div class="col-lg-3 col-md-6 col-12 aos-init-animate" data-aos="zoom-in-up" data-aos-delay="100" > 
      <div class="card">
      <h1 class="content-title"> {{"go"|translate}} </h1>
      <p class="content-detail" >{{"goTitle"|translate}}</p>
     </div>
    </div>
    </div>
</mat-card> 
    
