.how-it-work-body{
  background: url('../../../assets/img/bg/how.jpg') no-repeat center center / cover;
  /* background-color:#fff; */
  width: 100%;
  justify-content: center;
  }

  .how-it-work-contents {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 1px;
    }

  .how-it-work-sub-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
 
.card{
  margin: 5px;
  padding: 5px; /* More spacious padding */
  background-color: hsl(210, 36%, 96%); /* Light blue shade for a soft appearance */
  border: 1px solid hsl(210, 36%, 85%); /* Subtle border color */
  border-radius: 10px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  font-family: 'Arial', sans-serif; /* Clean and modern font */
  color: hsl(210, 22%, 30%); /* Text color for good contrast */
}

  .content-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;;
    font-family: yrsa !important;
    text-align: center;
  }
  .content-detail{
    font-size: 14px;
    font-family: yrsa !important;
  }