.how-it-work-body{
    background-color: #e5e5e5;
    width: 100%;
    justify-content: center;
    
}
    .about-heading{
    padding-bottom: 30px;
  }

  .about-title{
    font-family: yrsa;
    color: #0B3954;
  }

  .about-heading h2{
    font-size: 32px;
  }

  .about-heading h3{
    font-size: 22px;
  }

  .about-text{
    text-align: center;
    font-family: yrsa !important;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;  /* Preferred icon size */
   /* display: inline-block;*/
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    /*
    direction: ltr;
     Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    color: #00ff03;
  }
  .how-it-work-contents {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    }
  .how-it-work-sub-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  }
  .sub-content-detail{
  width :250px;
  margin: 6px;
  float: center;
  text-align: center;
  justify-content: center;
  }
  .sub-content-detail-property{
    width: 75%;
    float: center;    
  }
  .sub-content-detail-icon{
    font-size: 50px;
    width: 50%; 
    flex-wrap: wrap;
  justify-content: center !important;
  
  }
  .sub-content-detail-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;;
    font-family: yrsa !important;
    text-align: center;
  }
  .sub-content-detail-value{
    font-size: 14px;
    font-family: yrsa !important;
  }
  @media (max-width : 768px) {
    .how-it-work-sub-contents {
      padding: 3%;
    }
  }
  
  @media(min-width: 768px){
    .how-it-work-sub-contents {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  