

<mat-card class="how-it-work-body">
  <div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
    <div>
    <h2 class="about-title">How It Works</h2>
    </div>
</div>
 <div class="how-it-work-contents">
<div class="how-it-work-sub-contents">     
    <div class="sub-content-detail">
        <div class="sub-content-detail-icon"><i class="material-icons">search</i></div>
        <div class="sub-content-detail-property">
          <i class="sub-content-detail-title"> search </i>
        <br>
        <span class="sub-content-detail-value" >Select Departure, Destination and Trip Date</span>
          </div>
  </div>

      <div class="sub-content-detail">
        <div class="sub-content-detail-icon"><i class="material-icons">alarm</i></div>
        <div class="sub-content-detail-property">
          <i class="sub-content-detail-title"> select </i>
        <br>
        <span class="sub-content-detail-value" >Select Trip and Bus Operator</span>
          </div>
  </div>
  <div class="sub-content-detail">
    <div class="sub-content-detail-icon"><i class="material-icons">article</i></div>
    <div class="sub-content-detail-property">
      <i class="sub-content-detail-title"> Book </i>
    <br>
    <span class="sub-content-detail-value" >Fill Your Detail and Make Payment</span>
      </div>
</div>
<div class="sub-content-detail">
  <div class="sub-content-detail-icon"><i class="material-icons">directions_car</i></div>
  <div class="sub-content-detail-property">
    <i class="sub-content-detail-title">Travel </i>
  <br>
  <span class="sub-content-detail-value" >Show hard copy or show ticket</span>
    </div>
</div>

    </div>
  </div>
    </mat-card>
    
