<form [formGroup]="form">
  <div class="row form-input">
    <!-- Departure Field -->
    <div class="col-lg-3 col-md-6 col-12 position-relative">
      <div class="form-group">
        <label for="departureInput">{{ "departure" | translate }}</label>
        <div class="input-icon-container">
          <i class="bi bi-geo-alt geo-input-icon"></i>
          <!-- Departure Input -->
          <input
  type="text"
  id="departureInput"
  class="form-control decorated-input"
 formControlName="departure"
  readonly
  placeholder="Select a departure"
  [value]="departureName"
  (click)="toggleDropdown('departure')"
/>
        </div>
      </div>
      <div *ngIf="dropdownVisible.departure" class="dropdown-menu show w-100">
        <ul class="list-group">
          <li class="list-group-item">
            <input
              type="text"
              class=""
              placeholder="Search departure..."
              (input)="filterCities($event.target.value, 'departure')"
            />
          </li>
      
          <!-- Display filtered cities -->
          <li *ngFor="let city of departureFilteredCities" class="list-group-item"
          (click)="selectTown('departure', city.locationId)">
            <div class="location-container">
              <i class="bi bi-geo-alt geo-icon"></i>
              <div class="location-details">
                <span class="city-name">{{ city.name | translate }}</span>
                <span class="location-station">{{ city?.stations[0]?.name| translate }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Exchange Button -->
    <div class="col-lg-1 col-md-1 col-1 d-none d-sm-block  align-self-center">
         <label> <br> </label>
      <span (click)="ExchangeTrip()" class="material-icons exchange-icon">
        sync_alt
      </span>
    </div>

    <!-- Destination Field -->
    <div class="col-lg-3 col-md-6 col-12 position-relative">
      <div class="form-group">
        <label for="destinationInput">{{ "destination" | translate }}</label>
        <div class="input-icon-container">
          <i class="bi bi-geo-alt geo-input-icon"></i>
          <input
          type="text"
          id="destinationInput"
          class="form-control decorated-input"
          formControlName="destination"
          placeholder="Select a destination"
          readonly
          [value]="destinationName"
          (click)="toggleDropdown('destination')"
        />
        </div>
      </div>
      <div *ngIf="dropdownVisible.destination" class="dropdown-menu show w-100">
        <ul class="list-group">
          <!-- Filter input inside the dropdown -->
          <li class="list-group-item">
            <input
              type="text"
              class=""
              placeholder="Search destination..."
              (input)="filterCities($event.target.value, 'destination')"
            />
          </li>

          <!-- List of filtered cities -->
          <li *ngFor="let city of destinationFilteredCities" class="list-group-item"
          (click)="selectTown('destination', city.locationId)">
            <div class="location-container">
              <i class="bi bi-geo-alt geo-icon"></i>
              <div class="location-details">
                <span class="city-name">{{ city.name | translate}}</span>
                <span class="location-station">{{ city?.stations[0]?.name | translate}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
    </div>

<div class="col-lg-3 col-md-6 col-12 position-relative">
  <div class="form-group">
    <label for="tripDate">{{ "tripDate" | translate }}</label>
    <div class="input-icon-container">
      <i class="bi bi-calendar3 geo-input-icon"></i>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="now"
        formControlName="tripDate"
        id="tripDate"
        class="form-control decorated-input"
        placeholder="{{ 'Select a trip date' | translate }}"
        readonly
        (dateChange)="selectDate($event.value)"
        (click)="picker.open()"
      />
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
</div>


    <!-- Search Button -->
    <div class="col-lg-2 col-md-6 col-12">
      <div class="form-group">
        <label for="dateInput"><br /></label>
        <div style="margin-top: 5.5%;margin-left: 1%; max-width: 30px; max-height: 30px;" *ngIf="loading" class="loader">
        </div>
        <div *ngIf="!loading" class="search-button-container">
 <button
  class="form-control search-input-button"
  (click)="onSearch()"
>
  {{ 'search' | translate }}
</button>

        </div>
      </div>
    </div>
  </div>
</form>

  