#landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#heading {
  position: relative;
  height: 100%;
  background: url('../../../assets/img/bg/ezi-bg.jpeg') no-repeat center center / cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
  z-index: 2;
}

.main-heading {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(12, 12, 12, 0.7);
}

.subheading {
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#form-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 136%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.search-widget {
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}  

#form-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.search-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.exchange-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

@media (max-width: 768px) {
  .exchange-icon {
    transform: rotate(90deg);
  }
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  width: 100%;
}
.search-button{
  background-color:green;
  color: #ffffff;
  
}
.exchange-icon-container{
  color:green;
}