<section id="heading" class="mat-typography">
	<div class="container">
	<div class="heading-section" fxLayout="column" fxLayoutAlign="center center">
	<div [class.animated]="isHeading" [class.fadeInLeft]="isHeading">
	        <h1 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '32px', 'color' : '#0B3954'}">{{'ezibus'|translate}}</h1>
	        <h1 [ngStyle.xs]="{'font-size': '15px'}" [ngStyle.sm]="{'font-size': '20px', 'color' : '#0B3954'}"> {{'ezibus2Title'|translate}}  </h1>
		</div>
			<mat-card class="search-form"search-section>
	        <div [class.animated]="isSubheading" [class.fadeInRight]="isSubheading">
				
	        <h2 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">{{'searchTripNow'|translate}} </h2>
	        </div>
	        <div fxLayout="row" fxLayoutAlign="center center" [class.animated]="isHeadingBtn" [class.fadeIn]="isHeadingBtn" [class.heading-btn]="isHeadingBtn">
				<div class="example-container" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
					<form [formGroup]="form">
						<mat-form-field appearance="fill">
						<mat-label>{{"departure"|translate}}</mat-label>
						<mat-select formControlName="departure" [(ngModel)]="selectedDeparture">
						  <mat-option *ngFor="let city of cities"  [value]="city.locationId">
							{{city.name |translate}}
						  </mat-option>
						</mat-select>
					  </mat-form-field>
					  <span fxShow="false" fxShow.gt-xs="true" (click)="ExchangeTrip() " class="content-icon material-icons">
						sync_alt
						</span>
								&nbsp;
								<mat-form-field appearance="fill">
								  <mat-label>{{'destination'|translate}}</mat-label>
								  <mat-select formControlName="destination" [(ngModel)]="selectedDestination">
									<mat-option *ngFor="let city of cities" [(value)]="city.locationId">
									  {{city.name |translate}}
									</mat-option>
								  </mat-select>
								</mat-form-field>
								  &nbsp;

								<mat-form-field>
								  <mat-label>{{'tripDate'|translate}}</mat-label>
								  <input type="date" matInput placeholder="Trip Date" formControlName="tripDate" [ngModel] ="now | date:'yyyy-MM-dd'">
								</mat-form-field>
								&nbsp;
							<a class="heading-button-right" mat-flat-button (click)="searchResult()"  color="success">{{"search"|translate}}</a>
                          </form>
					</div>
	    	</div>
        <div  fxShow="true" fxShow.gt-xs="false">
			<img src="../../../assets/img/helpline-0016.png" width="100%" height="20%" >
          <!-- <h2 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">For more information call us on <a href="tel:9293" ><mat-icon>phone</mat-icon><span style="font-size: 60px;">9293</span> </a> </h2> -->
        </div>
		
		<div  fxShow="false" fxShow.gt-xs="true">
			<img src="../../../assets/img/helpline-0016.png" width="300" height="130" >
                 </div>
			</mat-card>
	    </div>
   </div>
</section>
