/*footer*/
.col_white_amrc { color:#1c1717;}
footer { width:100%; 
	background: url('../../../assets/img/bg/footer.gif') no-repeat center center / cover;
	background-color:#263238;
	 min-height:250px; padding:10px 0px 10px 0px ; 
	 justify-content: center;}
.footer-container{
		 padding: 15px;
		 width: 100%;
	 }
.content-icon{
font-size: 25px;  
font-feature-settings: 'liga';
	color:green; 
}
.list-unstyled{
	 list-style-type: none;
	 padding: 5px;
	 margin: 0;
}
.list-unstyled li {padding:0px 0px 5px 0px;}
.list-unstyled li a{ color:#131212;}
.list-unstyled li a:hover{ color:#100f0f; text-decoration:none;}
.about-footer-text{
	font-family: yrsa !important;
	font-size: 15px !important;

}
.pt2 { padding-top:40px ; margin-bottom:20px ;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}



