<div id="payment-option" class="payment-option" data-aos="zoom-in-up">
    <div class="container-1">
	<div class="payment-option-body">
		        <div class="header-section" fxLayout="column" fxLayoutAlign="center center">
		            <h2 class="section-header"> {{'paymentOptionsHeader'|translate}}</h2>
			        <h3 class="payment-options-subheader">
					   {{"paymentOfferHeader"|translate}}
					</h3>
					<p style="font-family: yrsa; font-size: large;">
						{{"paymentListHeader"|translate}}
					</p>
		        </div>
		
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12 ">
					  <div class="card">
						<h1 class="card-title">Mobile payment</h1>
					  </div>
					</div>
					<div class="col-lg-4 col-md-6 col-12 ">
					  <div class="card">
						<h1 class="card-title">Bank Transfer</h1>
					  </div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
					  <div class="card">
						<h1 class="card-title">M-Pesa</h1>
					  </div>
					</div>
				</div> 
		    </div>
    </div>
</div>
