#scroll-item{
	cursor: all-scroll;
}
.payment-option{
  background: url('../../../assets/img/bg/payment.gif') no-repeat center center / cover;
  width: 100%;
  justify-content: center;
  margin: 0px;
  padding: 20px;
}
.payment-option-body{
  padding: 10px;
}
.payment-options-header{
	font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
}
.payment-options-subheader {
	font-family: yrsa;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.card {
  width: 100%;
  color: rgba(3, 1, 155, 0.782);
  background: url('../../../assets/img/partners/3.jpg') no-repeat center center / cover;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(3, 1, 155, 0.782);
  min-height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  }

  .card-title {
    margin: 0;
    text-align:left;
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .card {
      min-height: auto;  /* Adjust for smaller screens */
      margin-bottom: 0.5rem;  /* Reduced margin for smaller screens */
    }
  }