<section id="payment-option" style="background-color: #f4f4f4;" data-aos="zoom-in-up" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
		      <div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
		            <div>
		            <h2 class="payment-options-font" [ngStyle.lt-md]="{'margin-bottom': '15px'}">Payment Options</h2>
		            </div>
		            <div>
			        <h3 class="payment-options-font" [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">
					EZI BUS offers a wide selection of payment options to buy ticket cash or online.
						</h3>
						Here below is the list of payment options which are available to make payment easier for our esteemed customers:

			        </div>
		        </div>

		<div class="portfolio-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="150px" fxLayoutGap.sm="8px">
     <div fxFlex="33.33">
						<mat-card class="p-0 m-0">
							<img mat-card-image src="assets/img/users.png"  class="img-center">
							<mat-card-content>
								<a href="#payment"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Pay At Agents</h5></a>
							</mat-card-content>
						</mat-card>
					</div>
				    	<div fxFlex="33.33">
							<mat-card class="p-0 m-0">
								<img mat-card-image src="assets/img/cbe.png" class="img-center">
								<mat-card-content>
									<a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">CBE</h5></a>									
								</mat-card-content>
							</mat-card>
			         	</div>
				    	<div fxFlex="33.33">
							<mat-card class="p-0 m-0">
								<img mat-card-image src="assets/img/abyssinia.jpg"  class="abyssinia-img-center">
								<mat-card-content>
									<a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Abyssinia Bank</h5></a>			
								</mat-card-content>
							</mat-card>
				</div>
		</div>
			<div class="portfolio-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="150px" fxLayoutGap.sm="8px">

			<div fxFlex="33.33">
							<mat-card>
								<img mat-card-image src="assets/img/lion.png" class="lion-img-center">
								<mat-card-content>
									<a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Lion InternationaL Bank</h5></a>
								</mat-card-content>
							</mat-card>
				</div>
				    	<div fxFlex="33.33">
							<mat-card>
								<img mat-card-image src="assets/img/awash.png" class="img-center">
								<mat-card-content>
									<a href="#blog">
										<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Awash Bank</h5></a>									
								</mat-card-content>
							</mat-card>
				</div>
				    	<div fxFlex="33.33">
							<mat-card>
								<img mat-card-image src="assets/img/telebirr.jpg" class="img-center">
								<mat-card-content>
									<a href="#blog"><h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Tele Birr</h5></a>

								</mat-card-content>
							</mat-card>
				</div>
				</div>
    </div>
</section>
