<div id="payment-option" class="payment-option" data-aos="zoom-in-up">
    <div class="container">
	<div class="payment-option-body">
		        <div class="header-section" fxLayout="column" fxLayoutAlign="center center">
		            <h2 class="section-header"> {{'paymentOptionsHeader'|translate}}</h2>
			        <h3 class="payment-options-subheader">
					   {{"paymentOfferHeader"|translate}}
					</h3>
					<p style="font-family: yrsa; font-size: large;">
						{{"paymentListHeader"|translate}}
					</p>
		        </div>
		
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12 ">
					  <div class="card">
						<h1 class="card-title">Mobile payment</h1>
					  </div>
					</div>
					<div class="col-lg-4 col-md-6 col-12 ">
					  <div class="card">
						<h1 class="card-title">Bank Transfer</h1>
					  </div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
					  <div class="card">
						<h1 class="card-title">M-Pesa</h1>
					  </div>
					</div>
				</div>


				  
		<!--
		<div class="portfolio-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="150px" fxLayoutGap.sm="8px">
     <div fxFlex="33.33">
		<mat-accordion class="p-0 m-0">
		<mat-expansion-panel (opened)="panelOpenState = true"
								 (closed)="panelOpenState = false">
			  <mat-expansion-panel-header style="height: 200px;"> 
				 <img mat-card-image src="assets/img/users.png">
			  </mat-expansion-panel-header>
			  <h5>Agents</h5>
			  <p>You can buy ticket cash in lamberet </p>
			</mat-expansion-panel>
		  </mat-accordion>
			</div>
				    	<div fxFlex="33.33">
							<mat-accordion class="p-0 m-0">
								<mat-expansion-panel (opened)="panelOpenState = true"
														 (closed)="panelOpenState = false">
									  <mat-expansion-panel-header style="height: 200px;"> 
										<img mat-card-image src="assets/img/cbe.png" class="img-center">
									  </mat-expansion-panel-header>
									  <h5>CBE</h5>
									  <p>You can buy ticket online in Commercial Bank of Ethiopia Mobile Banking </p>
									</mat-expansion-panel>
								  </mat-accordion>
			         	</div>
				    	<div fxFlex="33.33">
							<mat-accordion class="p-0 m-0">
							<mat-expansion-panel (opened)="panelOpenState = true"
							(closed)="panelOpenState = false">
		             <mat-expansion-panel-header style="height: 200px;"> 
			       <img mat-card-image src="assets/img/abyssinia.jpg"  class="abyssinia-img-center">
		             </mat-expansion-panel-header>
		 <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}"> Abyssinia</h5>
		 <p>You can buy ticket online in Abyssinia Bank Mobile Banking </p>
	   </mat-expansion-panel>
	 </mat-accordion>
				
		</div>
		</div>
			<div class="portfolio-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="150px" fxLayoutGap.sm="8px">
			<div fxFlex="33.33">
				<mat-accordion class="p-0 m-0">
					<mat-expansion-panel (opened)="panelOpenState = true"
					(closed)="panelOpenState = false">
			 <mat-expansion-panel-header style="height: 200px;"> 
				<br>
				<img mat-card-image src="assets/img/lion.png"class="lion-img-center"  >
			 </mat-expansion-panel-header>
                <h5> Lion InternationaL Bank</h5>
              <p>You can buy ticket online in Lion InternationaL  Bank Mobile Banking </p>
             </mat-expansion-panel>
                </mat-accordion>			
				</div>
				<div fxFlex="33.33">
                       <mat-accordion class="p-0 m-0">
						<mat-expansion-panel (opened)="panelOpenState = true"
								(closed)="panelOpenState = false">
						 <mat-expansion-panel-header style="height: 200px;"> 
							<img mat-card-image src="assets/img/awash.png" class="img-center">
						 </mat-expansion-panel-header>
							<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}"> Awash Bank</h5>
						  <p>You can buy ticket online in Awash Bank Mobile Banking </p>
						 </mat-expansion-panel>
						</mat-accordion>
				</div>
				    	<div fxFlex="33.33">
                             <mat-accordion class="p-0 m-0">
								<mat-expansion-panel (opened)="panelOpenState = true"
										(closed)="panelOpenState = false">
								 <mat-expansion-panel-header style="height:200px;"> 
									<img mat-card-image src="assets/img/telebirr.png" class="img-center" >
								 </mat-expansion-panel-header>
									<h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Tele Birr</h5>
								  <p>You can buy ticket online by using Tele Birr </p>
								 </mat-expansion-panel>
								</mat-accordion>

							
				</div>
				</div>
			-->
    </div>
    </div>
</div>
