<div id="about" data-aos="fade-up">
	<div class="about-section" fxLayout="column" fxLayoutAlign="center center">
		<div>
		<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}" class="about-title">About</h2>
		</div>
		<div>
		<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}"  class="about-title">EZI BUS System is Bus Ticket Booking Product owned by Leapfrog Software Technology Africa PLC.</h3>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="card col-xs-12 col-sm-6 col-md-6 col-lg-5">
				<img mat-card-image src="../../assets/img/ezibus.jpg" class="center">
				<div class="sub-content-text">
					EZI BUS System is Bus Ticket Booking Product owned by Leapfrog Software Technology Africa PLC designed for e-ticketing service for liyu Bus Transport in Ethiopia.
					It is largest online bus ticketing platform that has transformed bus travel in the country by bringing ease and convenience for who travel using buses.
					You can get your bus ticket from anywhere any time by using Ezibus plat form.
					<h1> IF You Need Help ?</h1>
					<div style="font-size: 40px; text-align: center;"> Call  Now
					<a href="tel:9293" style="font-size: 100px;">9293</a></div>
				</div>
			</div>
		
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-1">
				<br>
				<br>
			</div>
			<div class="card col-xs-12 col-sm-6 col-md-6 col-lg-5">
				<img mat-card-image src="../../assets/img/leapfrog.jpg" class="center">
				<div class="sub-content-text">
		   Leapfrog Technology Africa PLC is a technology company created to bring solutions to African daily life inconveniences with the support of technology.
		   Leapfrog Technology Africa PLC is a sister company of CBM System Iintegration PLC, a share company engaged in supply, installation, customization & integration of automated teller machines (ATM), point-of-sale (POS), and software related to banking industries in Ethiopia. 
		   Our company has successfully established a strong position since entering the market which was monopolized by a few suppliers without competition.
		   <br> 
		   <b>Our mission </b> is to make bus booking and payment simple and fast for the operators and passengers by offering the benefit of the total in-house management of bus schedules, ticket bookings, ticket sales, report generation, and other business functions associated with ticket sales, call center, 24h/7 days a week.
             </div>
			</div>
		</div>
<!---
	<div class="major-contents">
	<div class="major-sub-contents">     
			<div class="major-sub-content-detail" fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
				<div>
				  <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
				</div>
				<span fxFlex="30px"></span>
				<h2 class="sub-content-title">Secure</h2>
				<span fxFlex="10px"></span>
				<p class="sub-content-text">Your information is safe with us</p>
			  </div>		
	     </div>

    	<div class="major-sub-contents">     
			<div class="major-sub-content-detail" fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
				<div>
				  <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
				</div>
				<span fxFlex="30px"></span>
				<h2 class="sub-content-title">Fast</h2>
				<span fxFlex="10px"></span>
				<p class="sub-content-text">Take a minute to book your trip</p>
			  </div>

			</div>

			<div class="major-sub-contents">     
				<div class="major-sub-content-detail" fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">stars</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="sub-content-title">Easy</h2>
		            <span fxFlex="10px"></span>
                	<p class="sub-content-text">Very easy to use</p>
		          </div>
			
				</div>

			<div class="major-sub-contents">     
				<div class="major-sub-content-detail" fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="sub-content-title">Support</h2>
		            <span fxFlex="10px"></span>

		            <p class="sub-content-text"> Our staff is ready to support you. </p>
		          </div> 

			</div>

		</div> -->
		<!--major content-->
	
	</div>

</div>



