<app-header></app-header>
<div class="terms-body" flex fxLayout="row" fxLayout.lt-sm="column" >
    <div fxFlex="10%"></div>
    <div fxFlex="80%"> 
<h1> Ezibus Privacy policy</h1>
<P>By visiting our site, you hereby acknowledge and consent to the electronic collection, processing and storage of your personal data by EziBus. 
</P>
    
<b>1. General</b>

<p>
EziBus will protect your data as far as is reasonably possible but accepts no responsibility in loss or damage resulting from the breach or loss of data as no system is 100% secured. 
EziBus collects and stores certain information on users; the company does not knowingly collect information on anyone younger than 18. Updates and amendments may occur at any time so we encourage you to reread this privacy policy when they occur and notification thereof is given. 
Continuing to use the EziBus platform confirms your acknowledgement of any updates, and your agreement with changes.
</p>
<b>
2.	Information collected & information stored
</b><p>
Payment information such as card details are stored and handled by an authorized third party. In order to better maintain and guarantee the security of your clients, we do not store full card details on our server. We may store bank details and codes of drivers to ensure their payment. 
Additional information will need to be gathered if you are going to drive for EziBus, we may ask for more details at our own discretion from Drivers. This is completely at the discretion of EziBus and we can without the permission of any person who has previously agreed to this contract update the requirements of any driver and passenger and this update be valid as soon as we update our technology application, and or this agreement (the requirement of a new details or document form drivers for example), and any non-compliance allows EziBus to remove any driver or person from the system without warning.

At any time in your dealings with EziBus we may collect further information from you, and this is entirely at our discretion, whether we want to or not and we do not need your permission to collect this information to continue any kind of relationship between the two parties involved. EziBus reserves the right to annul this agreement if any information is withheld.

Creating a driver or user profile will require us gathering information from you, some is optional some is compulsory, and we may collect any information including but not limited to basic details from your Google Account, your date of birth, name, email and physical address and phone number as well as contact phone numbers and photos, this list is not exhaustive and if you wish to know the full list please contact EziBus in writing.

Sometimes, and where it deems necessary, EziBus will collect information via cookies to track user usage of the platform as well as other points. Please contact EziBus for a further explanation of what cookies are if you so wish. Both session and persistent cookies may be used

</p><b>
3.	Information sharing between users
</b><p>

When putting passengers and drivers together, basic information from both parties will be shared, this includes but is not limited to, photos, names, and phone contact details. The locations of both parties will be shared with one another as well as social media and third party websites information where these websites allow it. Driver vehicle details may or may not be presented to the client. EziBus reserves the right to share your information with any third party where the company deems it necessary, this includes but is not limited to, local or national authorities, any other legal entity or any other party when EziBus sees fit.
 </p><b>
4.	Payment Terms
</b><p>
We may provide paid products and/or services within Service. In that case, we use third-party services for payment processing (e.g. local and foreign payment processors).
We will not store or collect your payment card or login details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. 
</p><b>
5.	Data Protection Officer
</b><p>
If you have any inquiry, please contact us in email: admin@ezi-tech.com
 </p><b>
6.	Privacy Policy Updates
</b><p>
We will inform you of if any policy changes by email/ formal notice on this page. We are advised to review
</p>

        </div>

        <div fxFlex="10%"></div>
        </div>
        