
<section id="information" style="background-color: #fff;" class="mat-typography aos-init-animate " data-aos="fade-up" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
  <div class="container">
  <div class="pricing-section pricing-heading" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="section-header" style="margin-bottom: 40px;" >Partners</h2> 
    <br>
      <div class="partner-sub-content-detail" fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="http://ezibus.leapfrogtechafrica.com/assets/images/Dreamliner.jpg" class="center">
          <mat-card-content>
            <br>
            <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">DREAMLINER BUS</h5>
            <br>
          </mat-card-content>
        </mat-card>
        </div>		
        </div>
        </div>
      </section>
<!---

<div id="" style="background-color: #d4d3d3;"  >
  <div class="partner-section" fxLayout="column" fxLayoutAlign="center center"> 
   <div>
      
  </div>
  </div> 
  <div class="container">
  <div class="partner-contents">
	<div class="partner-sub-contents">     
    <div class="partner-sub-content-detail" fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
      <mat-card class="p-0 m-0">
       <! <img mat-card-image src="http://ezibus.leapfrogtechafrica.com/assets/images/GHION.jpg" class="center">-->
      <!--
       <mat-card-content>
        
        </mat-card-content>
      </mat-card>
      </div>		
     </div>


     


       <div class="partner-sub-contents">     
        <div class="partner-sub-content-detail" fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
          <mat-card class="p-0 m-0">
         
            <mat-card-content>
            
            </mat-card-content>
          </mat-card>
          </div>		
         </div>
    </div>
    </div>
</div>
-->
  


