.partner-section{
  text-align: center;
  transition-duration: 1s;
  padding-bottom: 30px;
  margin-top: 25px;
}

.partner-heading{
  font-family: yrsa;
   color: #0B3954;
   margin-top: 25px;
}


.partner-heading h2{
  font-size: 32px;
}

.partner-heading h3{
  font-size: 22px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

}

.mat-headline {
    font-family: "Yu Gothic UI";
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.partner-contents {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  }
.partner-sub-contents{
display: flex;
flex-wrap: wrap;  
margin:10px;
}
.partner-sub-content-detail{
width :310px;
margin: 6px;
float: left;
text-align: left;
}