.trip-list-page {
  background-color: #f4f4f4;
  min-height: 100vh;
}
.search-form{
  margin-top: 25%;
}
.search-body{
    margin-top: 80px;
    background-color: rgb(255, 253, 253);
}
.search-trip-form {
  border-radius: 15px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:120px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  }
.search-button {
  height: 35px;
}

.mat-success {
  background-color: green;
  color: #fff;
  
}
.trip-lists{
  padding: 5px;
  margin:5px;
}
mat-slider {
  width: 300px;
}

.operator-name{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 25px;
}

.trip-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.trip-detail-item{
  width : 200px;
  text-align: center;
  padding: 1%;
}

.operator-name {
  font-family: yrsa;
}

.trip-detail-property{
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom : 10px !important;
  font-family: yrsa;
}

.trip-detail-value {
  font-family: yrsa;
}

@media (max-width : 768px) {
  .trip-detail-item {
    padding: 3%;
  }
}

@media(min-width: 768px){
  .trip-lists {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.trip-result-icon {
  color :  #5cb85c;
  margin-bottom: 15px;
  font-size: 18px;

}


.no-trip-found {
  font-family: yrsa;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top:3%;
  }
  .content-icon{
    font-size: 25px;  
    font-feature-settings: 'liga';
      color: #00ff73; 
  }
  


