<app-header></app-header>
<div class="page-content trip-list-page"> 
  <div fxLayout="column" fxLayoutAlign="center">
    <div class="search-trip-content"> 
      <app-search-form 
        [(departureinput)]="selectedDeparture"
        [(destinationinput)]="selectedDestination"
        [(tripDateinput)]="formattedDate"
        [(loading)]="loading"
        (searchFunction)="searchtrip()">
      </app-search-form> 
    </div> 
    
     <!-- Loading Spinner -->

<div class="loading-container" *ngIf="loading">
  <div class="loader"></div>
</div>


  <div class="trip-list-body" *ngIf="!loading">
  <div fxFlex="100%">
    <div *ngIf="loading==false">
      <mat-card class="no-trip-found" *ngIf="route.length == 0">
          {{searchResultmessage}}
      </mat-card>
    </div>
    
  <div *ngIf="route.length !== 0">
  <mat-card 
    class="trip-lists"
    *ngFor="let trip of route" 
    (click)="ReserveSeat(trip)"
    style="margin: 10px; cursor: pointer;"
  >
    <div class="trip-mobile-card">
      <div class="trip-header">
        <div class="bus-name">{{ trip.operator | uppercase }} BUS</div>
      </div>

    
      <div class="trip-date">
        <div class="trip-date"> {{etDate.convertToEthiopianDate(trip.tripDate)}}</div>
      <div class="trip-time">{{ etDate.convertToEthiopianTime(trip.departureTime) }}</div>
      </div>

      <div class="trip-locations">
        <span>{{ trip.departureLocation | translate }}</span>
        <span class="arrow">-------------<i class="material-icons" style="color:#5cb85c">directions_bus</i>-------------</span>
        <span>{{ trip.arrivalLocation | translate }}</span>
       
      </div>
      <div class="trip-footer">
        <div class="trip-info">
          <span> {{ 'seatAvailable' | translate }} : {{ trip.availableSeats.length }}</span>
        </div>
       <div class="trip-action" (click)="ReserveSeat(trip)">
      {{ 'trip-detail' | translate }}
    </div>

        <div class="trip-info">
          <span> {{ 'price' | translate }}: {{ trip.price }} {{ "birr" | translate }}</span>
        </div>
      </div>
    </div>
  </mat-card>
</div>
  </div>
</div>
</div>
</div>


