<app-header></app-header>
<div class="page-content trip-list-page"> 
  <div fxLayout="column" fxLayoutAlign="center">
    <div class="search-trip-content"> 
      <app-search-form 
        [(departureinput)]="selectedDeparture"
        [(destinationinput)]="selectedDestination"
        [(tripDateinput)]="formattedDate"
        [(loading)]="loading"
        (searchFunction)="searchtrip()">
      </app-search-form> 
    </div> 
    
      <div *ngIf="loading" style="text-align:center; margin: 6%;">
        <img src="../../../assets/img/searching.gif">
      </div>
  <div class="trip-list-body" *ngIf="!loading">
  <div fxFlex="100%">
    <div *ngIf="loading==false">
      <mat-card class="no-trip-found" *ngIf="route.length == 0">
          {{searchResultmessage}}
      </mat-card>
    </div>
  <div *ngIf="route.length != 0">
    <mat-card class="trip-lists"  *ngFor="let trip of route">
      <div class="trip-item">
      <div class="operator-name" flex="1">
         {{trip.operator | uppercase }} BUS
      </div>
      <div class="trip-detail" >
        <div class="trip-detail-item">
          <i class="material-icons trip-result-icon">
            place
          </i><br/>
      <div class="trip-detail-property">{{"departure"|translate}} - {{"destination"|translate}} </div>  <br/>
      <div class="trip-detail-value"> {{trip.departureLocation|translate}} - {{trip.arrivalLocation |translate}} </div>
      </div>
      <div class="trip-detail-item">
          <i class="material-icons trip-result-icon">
            airline_seat_recline_normal
          </i> <br/>
          <div class="trip-detail-property">{{"seatAvailable"| translate}}</div> <br/>
          <div class="trip-detail-value">{{trip.availableSeats.length}}</div>
        </div>
        <div class="trip-detail-item">
          <i class="material-icons trip-result-icon">
           watch_later
          </i> <br/>
          <div class="trip-detail-property">{{"departureTime"|translate}}  </div><br/>
            <div class="trip-detail-value">{{trip.departureTime|date:'MMM d, y, h:mm:ss a'	}}</div>
        </div>

        <div class="trip-detail-item">
          <i class="material-icons trip-result-icon">
            payments
          </i> <br/>
          <div class="trip-detail-property">{{trip.price}} {{"birr"|translate}}</div> <br/>
           <a class="reserve-btn" mat-flat-button  (click)="ReserveSeat(trip)">{{"reserve"|translate}}</a>
        </div>
       </div>
     </div>
    </mat-card>
  </div>
  </div>
</div>
</div>
</div>


