table {
    width: 100%;
  }

.search-body{
    margin-top: 80px;
    background-color: rgb(255, 253, 253);
}
.trip-list-body{
  background-color: #f4f4f4;
  width: 100%;
}
.mat-success {
  background-color: green;
  color: #fff;
}
.trip-lists{
  padding: 5px;
  margin:5px;
}
mat-slider {
  width: 300px;
}

.operator-name{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 25px;
}

.trip-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.trip-detail-item{
  width : 250px;
  text-align: center;
  padding: 1%;
}

.trip-detail-property{
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}
@media (max-width : 768px) {
  .trip-detail-item {
    padding: 3%;
  }
}