/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.page-content {
  padding-top: 70px;
}
.mat-success {
    background-color: green;
    color: #fff;
  }
  
.major-contents {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    }
.major-sub-contents{
  display: flex;
  flex-wrap: wrap;  
}
.major-sub-content-detail{
  width :250px;
  margin: 6px;
  float: left;
  text-align: left;
  }
.content-icon{
    font-size: 25px;  
    font-feature-settings: 'liga';
      color:green; 
  }
.back-button-color{
    font-size: 25px;  
    font-feature-settings: 'liga';
      color: #1D7874; 

  }
.section-header{
    font-family: sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 30px;
  }

  input {
    position: relative;
    z-index: 2 !important;
    cursor: text !important;
  }
  
  mat-form-field {
    background: white !important;
  }
 
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.payment-option-list {
  width: 70px;
  margin: 10px;
  transition: all 0.3s ease;
  cursor: pointer; /* Make it look clickable */
}

.payment-option-list:hover {
  animation: blink 0.7s infinite; /* Apply the blink effect */
}

.selected-payment-img {
  width: 80%;
  height: 200px; /* Fix the incorrect 'Px' */
  margin: 10px auto;
  display: block;
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* Container to center the loader */
.loading-container {
  width: 100%;
  height: 200px;              /* or any desired height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;    /* Optional */
  border-radius: 10px;        /* Optional */
  border: 1px solid #ddd;     /* Optional */
}

/* The loader itself */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgba(106, 243, 122, 0.5) 30%, #0000 0 70%, rgb(5, 148, 39) 0) 50%/8% 100%,
    linear-gradient(90deg, rgba(35, 240, 20, 0.25) 30%, #0000 0 70%, rgba(7, 106, 14, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% { transform: rotate(1turn); }
}
