/* You can add global styles to this file, and also import other style files */
.mat-success {
    background-color: green;
    color: #fff;
  }
  
  .major-contents {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    }
  .major-sub-contents{
  display: flex;
  flex-wrap: wrap;  
}
  .major-sub-content-detail{
  width :250px;
  margin: 6px;
  float: left;
  text-align: left;
  }